<!-- without material -->
<!--
<button
  [hidden]="authService.isLoggedIn"
  (click)="authService.login().subscribe()"
>Login</button>
<button
  [hidden]="!authService.isLoggedIn"
  (click)="authService.logout()"
>Logout</button>
-->

<!-- with material -->
<button mat-raised-button
  [hidden]="authService.isLoggedIn"
  (click)="authService.login().subscribe()"
>
  Login
</button>
<button mat-raised-button
  [hidden]="!authService.isLoggedIn"
  (click)="authService.logout()"
>
  Logout
</button>