<h2>Product List</h2>
<ul>
  <li *ngFor="let product of products ; let i=index" (click)="selectedProduct = product">
    {{i+1}}. {{product}}
  </li>
</ul>
<span>Selected Product: {{productLocalReference.name}}</span>

<app-product-detail
  #productLocalReference
  [name]="selectedProduct" 
  (bought)="onBuy()"
  (boughtWithParam)="onBuyWithParam($event)"
>
</app-product-detail>

<!-- if-else example - begin -->
<div *ngIf="otherVariable; else variableNotSet">
  <p>Other variable is set!</p> 
</div> 
<ng-template #variableNotSet> 
  <p>Other variable not set!</p> 
</ng-template> 
<!-- if-else example - end -->
