<div *ngIf="product$ | async as product">
    <h2>Product Details</h2>
    <h3>{{product.name}}</h3>
    <span>{{product.price | currency:'EUR'}}</span>

    <!-- Template-driven form -->
    <form (ngSubmit)="changePrice(product, price!)">
      <input placeholder="New price" name="price" [(ngModel)]="price" />
      <button type="submit">Change</button>
    </form>

    <!-- React-driven form-->
    <app-product-create-v3 (added)="onAdd($event)"></app-product-create-v3>

    <button *ngIf="authService.isLoggedIn" (click)="buy(product)">Buy Now</button>
</div>


  