<app-auth></app-auth>
<!--<app-products-list></app-products-list>-->
<!--<app-product-list-v2></app-product-list-v2>-->
<!--
<div>
    <app-key-logger></app-key-logger>
</div>
-->
<!-- without material-->
<!--
<a routerLink="/products" routerLinkActive="active">Products</a>
<a routerLink="/cart"  routerLinkActive="active">Cart</a>
<a routerLink="/about" routerLinkActive="active">About Us</a>
-->
<mat-toolbar color="primary">
    <span>E-shop</span>
    <span class="spacer"></span>
    <a mat-flat-button color="primary" routerLink="/products">Products</a>
    <a mat-flat-button color="primary" routerLink="/cart">Cart</a>
    <a mat-flat-button color="primary" routerLink="/about">About Us</a>
    <app-auth></app-auth>
</mat-toolbar>
<router-outlet><router-outlet/>
