<h2>Product List</h2>

<!-- without material -->

<!--<ul> -->
    <!--<li *ngFor="let product of products" (click)="selectedProduct = product">-->
      <!--<a [routerLink]="['./', product.id]">{{product.id}} - {{product.name}} - {{product.price}}</a>-->
      <!-- another option: this.router.navigate(['./', product.id], { relativeTo: this.route }); -->
    <!--</li>-->
<!--</ul>-->

<!-- with material -->

<!-- a simple list -->
<!--
<mat-list>
  <mat-list-item *ngFor="let product of products">
    {{product.name}}
  </mat-list-item>
</mat-list>
-->

<!-- tith a grid list composed by 3 columns-->
<!-- the space between rows by setting the gutterSize property measured in pixels -->
<!-- properties of mat-grid-tile:
  - colspan: Decides how many columns the tile should take
  - rowspan: Indicates how many rows the tile should take
-->
<!--
<mat-grid-list cols="3" rowHeight="100px" gutterSize="50">
  <mat-grid-tile *ngFor="let product of products">
    {{product.name}}
  </mat-grid-tile>
</mat-grid-list>
-->

<!-- a selectable list -->
<div>
  <mat-selection-list>
    <mat-list-option *ngFor="let product of products">
      <a [routerLink]="['./', product.id]">{{product.id}} - {{product.name}} - {{product.price}}</a>-
    </mat-list-option>
  </mat-selection-list>
</div>

<!-- a mat-list list with drag and drop -->
<mat-list cdkDropList (cdkDropListDropped)="reorder($event)">
  <mat-list-item cdkDrag *ngFor="let product of products">
    {{product.name}}
  </mat-list-item>
</mat-list>


<!-- a sortable mat-table -->
<table mat-table [dataSource]="datasource" matSort matSortDisableClear>
  <!--<ng-container> element is a unique-purpose element used to group elements with similar functionality.  -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let product">
      <a [routerLink]="['/products', product.id]">{{product.name}}</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
    <td mat-cell *matCellDef="let product">{{product.price | currency}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
</table>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10,15]"></mat-paginator>

<router-outlet></router-outlet> <!-- necessary to diplay children components -->